DB_HOST =
DB_USER = postgres
DB_PASS =
DB_NAME =
DB_PORT = 5432

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER_NAME=
SMTP_SENDER_EMAIL=
SMTP_AUTH_EMAIL=
SMTP_AUTH_PASSWORD=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
S3_BUCKET=

JWT_SECRET=your-jwt-secret-key-here
AES_KEY=00112233445566778899aabbccddeeff00112233445566778899aabbccddeeff 

IS_PRODUCTION=false
APP_URL=https://localhost:3000 # FE
BE_URL=http://localhost:8000 # BE
APP_PORT=8000 # BE
APP_ENV=development # development/production/localhost